/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 800px;
  margin: auto;
}

.topbar {
  background-color: white;
  width: 100%;
  height: 110px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.jumbotron {
  background-color: goldenrod;
  width: 100%;
  height: 380px;
  margin-bottom: 2%;
}

.main {
  background-color: rgb(47, 125, 226);
  width: 100%;
  height: 420px;
  margin-bottom: 2%;
}

.header {
  background-color: darkturquoise;
  width: 100%;
  height: 10%;
}

.row {
  height: 82%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.column {
  background-color: darkturquoise;
  height: 100%;
  float: left;
}

.left,
.right {
  width: 23%;
}

.middle {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.footer {
  background-color: rgba(175, 47, 226, 0.842);
  width: 100%;
  height: 50px;
  margin-bottom: 2%;
}

.logo {
  width: 15%;
  height: auto;
}

ul {
  text-transform: uppercase;
  color: grey;
  margin-top: 15px;
}

li {
  display: inline;
  margin-right: 8px;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:visited {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 4px #ffc5f7f1;
}

a:active {
  text-decoration: none;
}
